/* Reset and basics */
body,
html,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Status Bar */
.status-bar {
  background-color: #0dcaf0;
  color: #000;
  padding: 0 0;
  width: 100%;
}
.main {
  background-color: #25292d;
}
.status-bar .container {
  padding: 0 0;
}

/* Header Wrapper */
.header-wrapper {
  width: 100%;
  background-color: #212529;
}

/* Main Content */
.main-content {
  flex: 1;
  background-color: #212529fa;
  color: white;
}

/* Container adjustments */
.container {
  max-width: 1200px;
  text-align: center;
  padding: 0;
}

/* Navbar specific fixes */
.navbar {
  padding: 0.5rem 0;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar-nav {
  margin-right: 15px;
}

/* Footer */
.footer-wrapper {
  width: 100%;
  background-color: #1e1e1e;
  color: #9ca3af;
  padding: 2rem 0;
}
